/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0c00c1f;
    color: #333;
    cursor: url("./florball_ball_cursos_optimized.png"),pointer;
}

/* Header and Navigation */
header {
    background-color: #000; /* Black */
    color: #FFD700; /* Gold */
    padding: 20px 0;
    text-align: center;
}

/* Přidání animace Blur in pro h1 */ 
.blur-in-text { 
    animation-name: leBlurInRight; 
    animation-duration: 3s; 
    animation-fill-mode: forwards; 
} 

@keyframes leBlurInRight { 
    from { 
        transform: scaleX(0.2) translateX(100px); 
        filter: blur(20px); 
        opacity: 0; 
    } 
    to { 
        transform: scaleX(1) translateX(0); 
        filter: blur(0); 
        opacity: 1;
    } 
}


.logo-container {
    margin-right: 2px;
}

.logo {
    height: 110px; /* Adjust the height to fit your design */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700; /* Gold */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.6s;
}

nav ul li a:hover { 
    color: #ff0000; /* Nová barva při najetí myší */ 
}


/* Section styles */
#about p { 
    margin-bottom: 1em; /* Nastavení mezery mezi odstavci pouze pro sekci #about */ 
}

#news p { 
    margin-bottom: 0.5em; /* Nastavení mezery mezi odstavci pouze pro sekci #about */ 
}

article { 
    margin-bottom: 2em; /* Nastavení mezery mezi články */ 
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000; /* Black */
    margin-bottom: 10px;
}

/* Player Section */
.player {
    display: inline-block;
    margin-bottom: 20px;
}

.player-number {
    font-size: 1.5em;
    font-weight: bold;
}

.player-img-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.player-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FFD700; /* Gold border */
    transition: opacity 0.3s ease;
}

.player-stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.555);
    color: #FFD700;
    opacity: 0; /* Hidden by default */
    border-radius: 50%;
    transition: opacity 0.9s ease;
    text-align: center;
}

/* Show overlay on desktop hover */
@media (min-width: 768px) {
    .player:hover .player-img {
        opacity: 0.55;
    }

    .player:hover .player-stats {
        opacity: 1;
    }
}

/* Visible class to show overlay on mobile */
.player-stats.visible {
    opacity: 1;
}

.player:hover .player-img {
    opacity: 0.55; /* Lower the opacity on hover */
}

.player:hover .player-stats {
    opacity: 1; /* Show stats on hover */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000; /* Black */
    color: #FFD700; /* Gold */
    margin-top: 20px;
}


.calendar {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: border-radius 0.5s;
}

.calendar h3 {
    text-align: center;
    margin-bottom: 20px;
}
.event {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
    border-left: 5px solid rgb(255, 242, 0); /* Default color */
    transition: background-color 0.7s, transform 0.7s;
}

.event:hover {
    background-color:   rgb(255, 242, 0);
}

.event p {
    margin: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}